[package]
name = "cuckoo"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.42"
parking_lot = "0.12.5"
test-case = "3.3.1"
uuid = { version = "1.19.0", features = ["v4"] }
hyper = { version = "1", features = ["full"] }
tokio = { version = "1", features = ["full"] }
http-body-util = "0.1"
hyper-util = { version = "0.1", features = ["full"] }
tower = { version = "0.4", features = ["util"] }